body {
    margin: 0;
    height: 300vh;
}

ul {
    margin: 0px;
    padding: 0px;
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-color: yellow;
    left: -20vw;
    top: 0px;
    transition: left 3s;
}

header.jumbotron {
    width: 100%;
    height: 25vh; /* le pourcentage ne fonctionne pas parce qu'il se réfère au body, qui au stade du header n'a pas de taille de contenu */ 
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#menu-label {
    cursor: pointer;
    position: fixed;
    left: 0px;
    padding: 20px;
    transition: left 3s;
}

#menu-checkbox {
    display: none;
}

/* etat checkbox 1 */
#menu-checkbox:checked ~ ul {
    left: 0;
}

#menu-checkbox:checked + #menu-label {
    left: 20vw;
}

/*  ++++   */

#menu-label::before, #menu-label::after {
    content: '';
    display: block;
    margin: 5px 0px;
}

#menu-label > div, #menu-label::before, #menu-label::after {
    background-color: white;
    height: 3px; 
    width: 30px;
    border-radius: 5px;
    transition: all 0.3s;
}

#menu-checkbox:checked ~ #menu-label > div {
    display: none;
}

#menu-checkbox:checked ~ #menu-label::before {
    margin: 0px;
    position: absolute;
    transform: rotate(45deg);
}

#menu-checkbox:checked ~ #menu-label::after {
    position: absolute;
    margin: 0px;
    transform: rotate(-45deg);
}